node-red.txt
[{"id":"8dcdb5f1.472c98","type":"http in","z":"875906d9.ba60c8","name":"Echo request","url":"/drone","method":"post","upload":false,"swaggerDoc":"","x":130,"y":3220,"wires":[["6c1e12c7.f84b7c"]]},{"id":"6c1e12c7.f84b7c","type":"switch","z":"875906d9.ba60c8","name":"Request Type","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"}],"checkall":"true","outputs":3,"x":315,"y":3220,"wires":[["bfceccc7.a636d"],["c33e5a51.bf7eb8"],[]]},{"id":"c33e5a51.bf7eb8","type":"switch","z":"875906d9.ba60c8","name":"Intents","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"TakeofftIntent","vt":"str"},{"t":"eq","v":"LandIntent","vt":"str"},{"t":"eq","v":"DirectionIntent","vt":"str"},{"t":"eq","v":"FlipIntent","vt":"str"},{"t":"eq","v":"RotateIntent","vt":"str"},{"t":"eq","v":"AMAZON.FallbackIntent","vt":"str"}],"checkall":"true","outputs":6,"x":496,"y":3220,"wires":[["9359dc0b.38d86"],["3ffb8201.c12e3e"],["81d15137.eb44"],["ef056abd.0d6448"],["a4a8b8d8.74c5b8"],["49d81d9c.b64044"]]},{"id":"8b74cc98.73936","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":900,"y":3195,"wires":[["7098d894.335c58"]]},{"id":"7098d894.335c58","type":"template","z":"875906d9.ba60c8","name":"Format response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"version\": \"1.0\",\n  \"response\": {\n    \"outputSpeech\": {\n      \"type\": \"PlainText\",\n      \"text\": \"{{payload}}\"\n    },\n    \"card\": {\n            \"type\": \"Standard\",\n            \"title\": \"Tello\",\n            \"text\": \"Command: {{payload}}\",\n            \"image\": {\n                \"smallImageUrl\": \"https://www.dji-store.it/wp-content/uploads/2018/05/ryze_tello.jpg\",\n                \"largeImageUrl\": \"https://www.dji-store.it/wp-content/uploads/2018/05/ryze_tello.jpg\"\n            }\n    },\n    \"shouldEndSession\": true\n  }\n}","output":"str","x":1137,"y":3457,"wires":[["1eed19d2.3f5fd6"]]},{"id":"9359dc0b.38d86","type":"function","z":"875906d9.ba60c8","name":"Takeoff","func":"msg.payload = \"Take Off\";\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":3194,"wires":[["8b74cc98.73936","32394aab.9313e6"]]},{"id":"23b18093.9c57a","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":897.5,"y":3298.5,"wires":[["7098d894.335c58"]]},{"id":"3ffb8201.c12e3e","type":"function","z":"875906d9.ba60c8","name":"Land","func":"msg.payload = \"Land\";\nreturn msg;","outputs":1,"noerr":0,"x":666.5,"y":3300.5,"wires":[["23b18093.9c57a","da7f1b47.c22a98"]]},{"id":"32394aab.9313e6","type":"mqtt out","z":"875906d9.ba60c8","name":"","topic":"drone/takeoff","qos":"1","retain":"","broker":"60e15fb3.7ffcc","x":890.0000076293945,"y":3239.75004196167,"wires":[]},{"id":"da7f1b47.c22a98","type":"mqtt out","z":"875906d9.ba60c8","name":"","topic":"drone/land","qos":"1","retain":"","broker":"60e15fb3.7ffcc","x":892.9999923706055,"y":3345.9999599456787,"wires":[]},{"id":"96df428.43f09c","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":899,"y":3409,"wires":[["7098d894.335c58"]]},{"id":"81d15137.eb44","type":"function","z":"875906d9.ba60c8","name":"Direction","func":"msg.payload = msg.payload.request.intent.slots.direction.value;\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":3411,"wires":[["96df428.43f09c","791d7e9d.e9bdf"]]},{"id":"791d7e9d.e9bdf","type":"mqtt out","z":"875906d9.ba60c8","name":"","topic":"drone/direction","qos":"1","retain":"","broker":"60e15fb3.7ffcc","x":904.4999923706055,"y":3456.4999599456787,"wires":[]},{"id":"67b699fa.9eabb8","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":898,"y":3519,"wires":[["7098d894.335c58"]]},{"id":"ef056abd.0d6448","type":"function","z":"875906d9.ba60c8","name":"Flip","func":"msg.payload = \"Flip\";\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":3521,"wires":[["67b699fa.9eabb8","3d1ba427.871acc"]]},{"id":"3d1ba427.871acc","type":"mqtt out","z":"875906d9.ba60c8","name":"","topic":"drone/flip","qos":"1","retain":"","broker":"60e15fb3.7ffcc","x":883.4999923706055,"y":3566.4999599456787,"wires":[]},{"id":"b0aeeee0.9c208","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rotate {{payload}}","x":900,"y":3629,"wires":[["7098d894.335c58"]]},{"id":"a4a8b8d8.74c5b8","type":"function","z":"875906d9.ba60c8","name":"Rotate","func":"msg.payload = msg.payload.request.intent.slots.direction.value;\nreturn msg;","outputs":1,"noerr":0,"x":669,"y":3631,"wires":[["b0aeeee0.9c208","41ff6edf.cfa24"]]},{"id":"41ff6edf.cfa24","type":"mqtt out","z":"875906d9.ba60c8","name":"","topic":"drone/rotate","qos":"1","retain":"","broker":"60e15fb3.7ffcc","x":895.4999923706055,"y":3676.4999599456787,"wires":[]},{"id":"49d81d9c.b64044","type":"function","z":"875906d9.ba60c8","name":"Fallback","func":"msg.payload = \"Sorry, I do not understand the command.\";\nreturn msg;","outputs":1,"noerr":0,"x":683,"y":3740,"wires":[["80993a7d.eafbe8"]]},{"id":"80993a7d.eafbe8","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":903,"y":3740,"wires":[["7098d894.335c58"]]},{"id":"bfceccc7.a636d","type":"function","z":"875906d9.ba60c8","name":"Launch","func":"msg.payload = \"To start, you should say: Alexa, ask drone to take off.\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3800,"wires":[["58544b9a.784944"]]},{"id":"58544b9a.784944","type":"template","z":"875906d9.ba60c8","name":"Say the answer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":900,"y":3800,"wires":[["7098d894.335c58"]]},{"id":"1eed19d2.3f5fd6","type":"json","z":"875906d9.ba60c8","name":"","x":1312,"y":3455,"wires":[["cc70db44.8a5dc8"]]},{"id":"cc70db44.8a5dc8","type":"http response","z":"875906d9.ba60c8","name":"","x":1447,"y":3455,"wires":[]},{"id":"60e15fb3.7ffcc","type":"mqtt-broker","z":"","broker":"m10.cloudmqtt.com","port":"11628","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]